<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body>
    <header>

    </header>
    <main class="container">
        <button id="generate-keys">Generate Key Pair</button>
        <section>
            <h2>Public Key:</h2>
            <pre id="public-key"></pre>
        </section>
        <section>
            <h2>Private Key:</h2>
            <pre id="private-key"></pre>
        </section>
    </main>

    <script src="/scripts/script.js"></script>
</body>

</html>